@using ERPAnimalia.Models;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>  
    <script src="~/Scripts/gijgo/combined/gijgo.js"></script>  
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/css/product.css" rel="stylesheet" />
    @model InvoiceModel
</head>
<body>
    <script type="text/javascript">
        var gridInvoice;
        var gridInvoiceDetail;

        $(document).ready(function () {
           
            gridInvoice = $("#gridInvoice").grid({
                 dataKey: "IdComprobante",
                uiLibrary: "bootstrap",
                columns: [
                { field: "Fecha", title: "Fecha", type: 'date', format: 'dd/mm/yyyy', sortable: true, width: 80 },
                { field: "TipoComprobante", title: "Tipo Comprobante", sortable: true, width: 90 },
                { field: "IdComprobante", hidden: true },
                { field: "FormaDePago", title: "Forma de Pago", sortable: true, width: 90 },             
                { field: "Cliente", title: "Cliente", sortable: true, width: 80 },
                { field: "Total", title: "Total", sortable: true, width: 80 }
               
                ],
                pager: { enable: true, limit: 10, sizes: [2, 5, 10, 20] }
            });

            gridInvoice.on('rowSelect', function (e, $row, id, record) {
                debugger;
                idCheck = record.IdComprobante;
                gridInvoiceDetail.clear();
                gridInvoiceDetail.reload({ IdComprobante: record.IdComprobante, page: 1 });
            });

            gridInvoiceDetail = $("#gridInvoiceDetail").grid({
                dataKey: "Id",
                uiLibrary: "bootstrap",
                columns: [
                    { field: "IdDetalleComprobante", hidden: true },
                    { field: "Descripcion1", title: "Producto", sortable: true, width: 200 },
                    { field: "Cantidad", sortable: true, width: 80 },
                    { field: "PrecioVenta", title: "Precio", sortable: true, width: 150 },
                    { field: "Subtotal", title: "Subtotal", sortable: true, width: 200 },
                   
                ],

                pager: { enable: true, limit: 5, sizes: [2, 5, 10, 20] }
            });

            $("#btnSearch").on("click", Search);
            $('#DateInvoiceFrom').datepicker({
                dateFormat: "dd-mm-yy",
                firstDay: 1,
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                monthNames:
                    ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                    "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthNamesShort:
                    ["Ene", "Feb", "Mar", "Abr", "May", "Jun",
                    "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
            });

            $.datepicker.setDefaults($.datepicker.regional["es"]);
            var invoiceDate = new Date();
            invoiceDate.setMonth(invoiceDate.getMonth() - 1);

            $("#DateInvoiceFrom").datepicker('setDate', invoiceDate);


            $('#DateInvoiceTo').datepicker({
                dateFormat: "dd-mm-yy",
                firstDay: 1,
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                monthNames:
                    ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                    "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthNamesShort:
                    ["Ene", "Feb", "Mar", "Abr", "May", "Jun",
                    "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
            });

            $.datepicker.setDefaults($.datepicker.regional["es"]);
            var d = new Date();
            d.setMonth(d.getMonth() + 1);
            $("#DateInvoiceTo").datepicker('setDate', d);


            gridInvoice.on('dataBound', function (e, records, totalRecords) {
                debugger;
                if (gridInvoice.count() != 0) {
                    gridInvoiceDetail.clear();
                    var totalRows = gridInvoice.count();
                    var row = gridInvoice.get(1);
                    gridInvoiceDetail.reload({ IdComprobante: row.IdComprobante, page: 1 });
                }
            });

            function Search() {
                debugger;
                var dateInvoiceFrom = $("#DateInvoiceFrom").val();
                var dateInvoiceTo = $("#DateInvoiceTo").val();
                var typeVoucher = $("#IdTipoComprobante").val();
                gridInvoiceDetail.clear();
                gridInvoice.clear();

                gridInvoice.reload({ dateInvoiceFrom: dateInvoiceFrom, dateInvoiceTo: dateInvoiceTo, idTypeVoucher: typeVoucher });
               
                if (gridInvoice.count() != 0) {
                    var totalRows = gridInvoice.count();
                    var row = gridInvoice.get(1);
                    gridInvoiceDetail.reload({ IdComprobante: row.IdComprobante, page: 1 });        
                }
              
            }


           
        });

    </script>

    <div class="panel panel-primary">
        <div class="panel-heading">Facturas</div>
        <div class="panel-body">
            <div  class="form-inline">
                <div class="form-group">
                    <label  for="DateInvoiceFrom">Fecha desde</label>
                    <input type="text" class="datepicker" data-date-format="mm/dd/yyyy" id="DateInvoiceFrom" placeholder="Ingrese Fecha">
                </div>    
                <div class="form-group">
                            <label for="DateInvoiceTo">Fecha Hasta</label>
                            <input type="text" class="datepicker" data-date-format="mm/dd/yyyy" id="DateInvoiceTo" placeholder="Ingrese Fecha">        
                </div>
                
                <div class="form-group">
                    <label for="desc">Tipo Comprobante:</label>
                    @Html.DropDownListFor(model => model.listTypeInvoice.First().IdTipoComprobante,
                    new SelectList(Model.listTypeInvoice, "IdTipoComprobante", "Descripcion"), new { @class = "form-control", type = "text", placeholder = "Seleccione Tipo Comprobante", @onchange = "" })
                </div> 
                <div class="form-group">
                    <button type="button" id="btnSearch" class="btn btn-default">Buscar</button>
                </div>     
        </div>
        <br />
       
       <table id="gridInvoice" data-source="@Url.Action("GetInvoice", "Invoice")?ids=' + idTypeVoucher"></table>          
       
        <br />
        <table id="gridInvoiceDetail" data-source="@Url.Action("GetDetailInvoice")"></table>

    </div>
</body>
</html>