<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle Producto</title>

    <script src="~/Scripts/gijgo/combined/gijgo.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    
 <script type="text/javascript">

     $(document).ready(function () {
        
         gridProduct = $("#gridProduct").grid({
             dataKey: "IdProducto",
             guid: '58d47231-ac7b-e6d2-ddba-5e0195b31f2f',
             uiLibrary: "bootstrap",
             columns: [
             { field: "IdProducto", hidden: true },
             { field: "CodigoBarra", title: "Código de Barra", sortable: true, width:60 },
             { field: "Codigo", title: "Código", sortable: true, width: 50,hidden: true },
             { field: "Marca", title: "Marca", sortable: true, width:60 },
             { field: "Descripcion1", title: "Descripcion 1", sortable: true, width: 100 },
             { field: "SubCategoryName", title: "SubCategoria", sortable: true, width: 50 },
             { field: "CategoryName", title: "Categoria", sortable: true, width: 50 },
             { field: "kg", title: "Kg", sortable: true, width: 25 },
             { field: "Cantidad", title: "Stock Actual", sortable: true, width: 35 },
             { field: "CantidadPedida", title: "Cantidad",editor: true, sortable: true, width: 35},
             { field: "PrecioCosto", title: "Precio Costo", editor: true,sortable: true, width: 35 },
             { field: "PrecioVenta", title: "Precio Venta",editor: true, sortable: true, width: 35 }
             
             ],
             selectionMethod: 'checkbox',
             selectionType: 'multiple',
             optimisticPersistence: { sessionStorage: ["page", "limit"] },
             pager: { enable: true, limit: 30, sizes: [2, 5, 10, 20] }
         });

        
             $("#btnSearchGridProduct").on("click", SearchProduct);
             $("#btnSave").on("click", Save);

             $('#search').keypress(function (event) {
                 debugger;
                 if (event.keyCode == 13) {
                     $("#btnSearchGridProduct").click();
                 }
             });

             function SearchProduct() {                
                 gridProduct.reload({ searchString: $("#search").val() });    
             }

         });



         

       

         function Save() {
           
             var cantidad= new Array();
             var precioCosto=new Array();
             var idProducto=new Array();
             var precioVenta=new Array();

             var selections = gridProduct.getSelections();
             if ($('#RazonSocial').val() == "")
             {
                 return alert("Debe Seleccionar un proveedor");
             }

             if (selections.length!= 0)
             {           
                 $(selections).each(function (index, element) {
                
                 var row = gridProduct.get(element);
                 idProducto[index] = row.IdProducto;
                 precioCosto[index]=row.PrecioCosto;
                 cantidad[index]=row.CantidadPedida;
                 precioVenta[index]=row.PrecioVenta;

             });
             }
             else
             {
                return alert("Debe Seleccionar Un Producto");
             }

             var  proveedor= $("#RazonSocial").val();
             var  formaPago= $("#formaPago").val();
             var date= $("#date").val();
             var fechaPago = $("#fechaPago").val();

             $.ajax({ url: "/LoadOrder/Save", type: "POST", data: { proveedor: proveedor, date: date, fechaPago:fechaPago,formaPago: formaPago, idProducto: idProducto,precioCosto:precioCosto,cantidad:cantidad,precioVenta:precioVenta } })
                 .done(function (data) {
                     $("#RazonSocial").val("");
                     gridProduct.clear();
                     alert("La orden fue guardad con éxito");
                     gridProduct.reload();
                 })
                 .fail(function () {
                     alert("A ocurrido un error.");

                 });
         }


  </script>

</head>
<body>
    <br />
    <br />
   <div class="panel-heading">Producto</div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" id="search" class="form-control" placeholder="Search for...">
                <button type="button" id="btnSearchGridProduct" class="btn btn-default">Buscar!</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Product")'">Agregar Producto</button>
                <button type="button" class="btn btn-primary" id="btnSave">Guardar</button>
            </div>
        </form>
    </div>
   
        <br />
    <br />
        <table id="gridProduct" data-source="@Url.Action("GetProduct")"></table>
   
</body>
</html>