
tbody{
   height:500px !important
}

.topnav a {
  
    color: #f1eae9;
   
    padding: 14px 16px;
   
    font-size: 17px;
}


 #product
{
    width:900px !important;
}

 #passLoose
 {
     width:900px !important;
 }

 .colVenta
 {
    background-color: MediumSeaGreen;
    font-weight:bold;
    
}

 .colCosto
 {
    background-color: #ff6347;
    font-weight:bold;
}

 